body 
{
    background-color:#408Ad2;
    font-family:"Arial", Sans-Serif;
}

.list
{
    margin-left:auto;
    margin-right:auto;
    margin-top:30;    
}

.button
{
    background:#408Ad2;
    border:2px solid grey;
    padding: 3px;
        
}


.textbox
{
    width:120px;
    background:White;
    border:2px solid grey;
    padding: 3px;    
}

.file
{
    background:White;
    border:2px solid grey;
    padding: 3px;    
}

.page
{
    margin-left:auto;
    margin-right:auto;
    width: 1024px;
    padding:10px;
    background:White;
    -webkit-box-shadow: 0px 0px 10px 4px #777777;
    -moz-box-shadow: 0px 0px 10px 4px #777777;
    box-shadow: 0px 0px 10px 4px #777777; 
}

#login
{
    margin-left:auto;
    margin-right:auto;
    text-align: right;
}

.glist
{
    margin-left:2;
    margin-right:2;
    text-align:center;
}

.pointer { 
cursor: pointer; 
text-decoration: underline;
}  

#feedback { font-size: 1.4em; }
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }






.gradeTable
{
    border-width:thin;
    border-color:grey;
    border-style:solid;
    
    
    margin-left:auto;
    margin-right:auto;
    text-align: right;
}

.content
{
    margin-left:auto;
    margin-right:auto;
    text-align: right;
}



.accordion {margin:0; padding:0 10px}

.accordion li {list-style-type:none}

.accordion li.last-child {margin-left:19px; list-style-type:disc}

#side ul.accordion ul {margin:0; padding:0 0 0 20px;}

.accordion .outer {border:1px solid #dadada; border-width:0 1px 1px; background: #fff}

.accordion .inner {margin-bottom:0; padding:.5em 20px 1em; position:relative; overflow:hidden}

.accordion .inner .inner {padding-bottom:0}

.accordion .h {padding-top:.3em} /* vertical padding instead of vertical margin (ie8) */

.accordion p {margin:.5em 1px 1em}